.container {
  max-width: 1920px;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $wide) {
    padding-left: 80px;
    padding-right: 80px;
  }
}
