.reviews {
  @media (min-width: $header-bp) {
    display: table-cell;
    width: 50%;
    background: #f8fbff;
    padding-top: 100px;
  }
}

.reviews__block {
  margin: 0;

  .reviews__card & {
    @media (min-width: $card-bp) {
      width: 50%;
    }
  }
}

.reviews__title {
  margin-bottom: 90px;

  @media (min-width: $card-bp) {
    margin-bottom: 20px;
  }
}

.reviews__avatar-wrapper {
  width: 58px;
  height: 58px;

  border-radius: 50%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);

  overflow: hidden;

  @media (min-width: $card-bp) {
    width: 97px;
    height: 97px;
  }

  &--in-card {
    position: absolute;
    top: 0;
    left: 50%;

    width: 110px;
    height: 110px;

    transform: translate(-50%, -50%);

    @media (min-width: $card-bp) {
      position: static;
      display: inline-block;
      width: 187px;
      height: 187px;
      vertical-align: middle;
      margin-right: 20px;

      transform: none;
    }
  }

  &--left {
    float: left;

    @media (min-width: $card-bp) {
      float: right;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  &--right {
    float: right;

    @media (min-width: $card-bp) {
      float: left;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

.reviews__avatar {
  display: block;
  width: 60px;
  height: 60px;

  @media (min-width: $card-bp) {
    width: 105px;
    height: 105px;
  }

  &--in-card {
    width: 115px;
    height: 115px;
    margin: -1px;

    @media (min-width: $card-bp) {
      width: 195px;
      height: 195px;
    }
  }
}

.reviews__item {
  max-width: 335px;
  margin: 0;
  padding: 0;

  margin-left: auto;
  margin-right: auto;

  @media (min-width: $card-bp) {
    &--small {
      display: inline-block;
      width: 50%;
    }
  }
}

.reviews__block {
  &--right {
    max-width: 242px;
    margin-left: auto;
    padding-left: 70px;

    @media (min-width: $card-bp) {
      margin-left: 0;
      margin-right: auto;
      padding-right: 110px;
      padding-left: 0;
    }
  }

  &--left {
    max-width: 242px;
    padding-right: 70px;
    margin-left: auto;

    @media (min-width: $card-bp) {
      margin-left: 0;
      margin-right: auto;
      padding-left: 110px;
      padding-right: 0;
    }
  }

  &--card {
    @media (min-width: $card-bp) {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.reviews__card {
  position: relative;

  padding: 60px 16px 15px;
  max-width: 300px;

  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
  border-radius: 32px;

  @media (min-width: $header-bp) {
    max-width: none;

    background: transparent;
    box-shadow: none;
    border-radius: 0;
    border: none;

    text-align: left;

    text-shadow: none;
  }
}

.reviews__author {
  font-weight: 700;
}

.reviews__quote {
  &--card {
    position: relative;
    &::before,
    &::after {
      content: url('../img/quotes.svg');
      position: absolute;
      top: -30px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transform: rotate(180deg);
    }

    @media (min-width: $card-bp) {
      &::before,
      &::after {
        content: url('../img/quotes-green.svg');
      }

      &::after {
        bottom: 0;
        right: -50px;
      }

      &::before {
        left: -50px;
        top: 0;
      }
    }
  }
}
